<div class='container'>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

		<% if @book.errors.any? %>
		<h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
		<% @book.errors.full_messages.each do |message| %>
		<%= message %>
		<% end %>
		<% end %>

		<h1>Editing Book</h1>
		<!-- form_for部分 -->
		<%= form_for(@book) do |f| %>

			<label>Title</label>
			</br>
			<div class="field">
			<%= f.text_field :title %>
			</div>
			</br>

			<label>Opinion</label>
			</br>
			<div class="field">
			<%= f.text_area :body %>
			</div>
			</br>

			<%= f.submit 'Update Book', class:"btn btn-success" %>
		<% end %>
			<%= link_to "Show", book_path(@book.id) %> |
			<%= link_to "Back", books_path %>

  <footer>
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto'>
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
  </div>
  </div>