<!DOCTYPE html>
<html>
<head>
  <title>Bookers2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <!-- <div class="row"> -->
        <nav class='nav navbar-brand navbar-nav navbar-left' >
          <span>Bookers</span>
        </nav>
        <nav class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
            <% if user_signed_in? %>
            <!-- ログインしてる時 -->
            <li class="nav-list-item nav-link text-light">
            <%= link_to user_path(current_user) do %>
              <span><i class="fa fa-home" aria-hidden="true"></i> Home </span>
            <% end %>
            </li>

            <li class="nav-list-item nav-link text-light">
            <%= link_to users_path do %>
              <span><i class="fa fa-users" aria-hidden="true"></i> Users </span>
            <% end %>
            </li>

            <li class="nav-list-item nav-link text-light">
            <%= link_to books_path do %>
              <span><i class="fa fa-book-open" aria-hidden="true"></i>  Books </span>
            <% end %>
            </li>

            <li class="nav-list-item nav-link text-light">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span><i class="fa fa-sign-out-alt" aria-hidden="true"></i>  logout </span>
            <% end %>
            </li>

            <% else %>

            <li class="nav-list-item nav-link text-light">
            <%= link_to root_path do %>
              <span><i class="fa fa-home" aria-hidden="true"></i> Home </span>
            <% end %>
            </li>

            <li class="nav-list-item nav-link text-light">
            <%= link_to home_about_path do %>
              <span><i class="fa fa-link" aria-hidden="true"></i> About </span>
            <% end %>
            </li>

            <li class="nav-list-item nav-link text-light">
            <%= link_to new_user_registration_path do %>
              <span><i class="fa fa-user-plus" aria-hidden="true"></i> sign up </span>
            <% end %>
            </li>

            <li class="nav-list-item nav-link text-light">
            <%= link_to user_session_path do %>
              <span><i class="fa fa-sign-in-alt" aria-hidden="true"></i> login </span>
            <% end %>
            </li>
            <% end %>
          </nav>
        </ul>
      </div>
      <!-- </div> -->
    </div>
  </header>
  <div class="container">
  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>
  </div>
  <%= yield %>
</body>
</html>